.css-135snu5-MuiButtonBase-root-MuiButton-root,
.css-6vb3lw-MuiTypography-root-MuiLink-root.MuiLink-root,
.css-1qaqehy-MuiTypography-root-MuiLink-root.MuiLink-root {
   display: flex;
   flex-direction: column;
   animation: myAnim2 1s ease-in-out 3.3s 1 normal forwards;
   &::after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      transition: width 0.5s ease;
      margin-top: 2px;
   }
   &:hover::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000;
   }
}
